{% extends 'BAML/base.html'%}

{% load static %}

{% block title %}Application{% endblock %}

{% block content %}
<!-- title and explaination-->
<div class="drag-application-title">
  <h1>Notre application</h1>
  <p>Veuillez selectionnez un type de traitement et glisser votre fichier a analyser</p>

</div>

<!-- radio buttons-->
<form action="./upload" method="POST" enctype="multipart/form-data">
  <div id="mySelect">
    <div class="radio_option">
      <input type="radio" id="analyze" name="analyze" value="analyze" checked>
      <label for="analyze">Obtenir le meilleur algorithme Scikit Learn à utiliser</label>
    </div>
    <div class="radio_option">
      <input type="radio" id="prediction" name="prediction" value="prediction">
      <label for="prediction">Obtenir un fichier .csv contenant la prédiction des données envoyées</label>
    </div>
  </div>
  <!-- input-->


  <div class="form-separator">
    <label for="separator">Entrez votre séparateur </label>
    <input type="text" name="separator" id="separator" required maxlength="1">
  </div>



  <!--drag and drop-->
  <div class="drop-zone">
    <span class="drop-zone__prompt">Déposez ici votre fichier</span>

    <input type="file" name="csvFile" class="drop-zone__input" multiple>
  </div>

  <input type="submit" value="Envoyer le CSV">


</form>

<script type="text/javascript" src="{% static 'JS/drag.js' %}"></script>
{% endblock content %}