{% extends 'BAML/base.html'%}
{% load static %}

<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">


        <title>Document</title>
    </head>





    <body>
        {% block content %}
        <div class="drag-application-title">
            <h1>Notre application</h1>
            <p>Veuillez selectionnez un type de traitement et glisser votre fichier a analyser</p>

        </div>


        <form action="./upload" method="POST" enctype="multipart/form-data">
            <select id="monSelect">
                <!-- il faudra changer les value="" et le texte à afficher -->
                <option value="">--Please choose an option--</option>
                <option value="value1">value1</option>
                <option value="value2">value2</option>
                <option value="value3">value3</option>
            </select>
            <div class="drop-zone">
                <span class="drop-zone__prompt">Drop file here or click to upload</span>

                <input type="file" name="myFile" class="drop-zone__input" multiple>
            </div>
        </form>
        <script type="text/javascript" src="{% static 'JS/drag.js' %}"></script>
        {% endblock content %}
    </body>

</html>