{% load static %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'JS/menu.js' %}"></script>
        <title>{%block title %}Accueil{% endblock %}</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <div class="navbar-title">
                    <a href="/">BAML</a>
                </div>
                <img src="{% static 'images/logo-menu-burger.png' %}" class="navbar-burger" onclick="afficheMenu()">

            </div>

            <div id="burger-menu-content">
                <p>
                    <a href="/plan-du-site">Plan du Site</a>
                </p>
                <p>
                    <a href="/application">Application BAML</a>
                </p>
                <p>
                    <a href="/mention-legales">Mentions Légale</a>
                </p>
                <p>
                    <a href="/qui-sommes-nous">qui sommes nous</a>
                </p>



        </header>

        {% block content %}
        {% endblock %}

    </body>
    {% include "BAML/footer.html" %}

</html>