{% load static %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'JS/menu.js' %}"></script>
        <title>{%block title %}Accueil{% endblock %}</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <div class="navbar-title"><a href="/">BAML</a></div>
                <img src="{% static 'images/logo-menu-burger.png' %}" class="navbar-burger" onclick="afficheMenu()">

            </div>

            <div id="burger-menu-content">
                <p><a href="/plan-du-site">Plan du Site</a></p>
                <p><a href="/application">Application BAML</a></p>
                <p><a href="/mention-legales">Mentions Légale</a></p>
                <p><a href="/qui-sommes-nous">qui sommes nous</a></p>

                <p><a id="btnPopupHeader" class="btnPopupHeader" onclick="openModalHeader()">RGPD</a></p>
                <div id="overlayHeader" class="overlayHeader">
                    <div id="popupHeader" class="popupHeader">
                        <h2>
                            Exemple simple de popup
                            <span id="btnCloseHeader" class="btnCloseHeader" onclick="closeModalHeader()">X</span>
                        </h2>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a nulla
                            a massa interdum imperdiet sed nec nibh. Proin porttitor euismod nulla ut
                            interdum. Cras elementum placerat aliquam.
                        </div>
                    </div>
                </div>



                <p><a id="btnPopupContact" class="btnPopupContact" onclick="openModalHeaderContact()">Contact</a></p>
                <div id="overlayHeaderContact" class="overlayHeaderContact">
                    <div id="popupHeaderContact" class="popupHeaderContact">
                        <h2>
                            Contact
                            <span id="btnCloseHeaderContact" class="btnCloseHeaderContact"
                                onclick="closeModalHeaderContact()">X</span>
                        </h2>
                        <div>
                            <p>0156829643 <br>mail.mail@mail.mail</p>
                        </div>
                    </div>
                </div>




            </div>

        </header>

        {% block content %}
        {% endblock content %}

    </body>

</html>