{% load static %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'JS/menu.js' %}"></script>
        <title>Header</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <div class="navbar-title"><a href="/">BAML</a></div>
                <img src="{% static 'images/logo-menu-burger.png' %}" class="navbar-burger" onclick="afficheMenu()">

            </div>

            <div id="mobile">

                <a href="/plan-du-site">plan du site</a>
                <a href="/mention-legales">mentions légales</a>

                <p><a id="btnPopupHeader" class="btnPopupHeader" onclick="openModalHeader()">RGPD</a></p>
                <div id="overlayHeader" class="overlayHeader">
                    <div id="popupHeader" class="popupHeader">
                        <h2>
                            Exemple simple de popup
                            <span id="btnCloseHeader" class="btnCloseHeader" onclick="closeModalHeader()">X</span>
                        </h2>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a nulla
                            a massa interdum imperdiet sed nec nibh. Proin porttitor euismod nulla ut
                            interdum. Cras elementum placerat aliquam.
                        </div>
                    </div>
                </div>
                <a href="/application">lancer l'appli</a>
                <p>0156829643 <br>mail.mail@mail.mail</p>


            </div>

        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <div class="footer">
                <p><a href="/plan-du-site">plan du site</a></p>
                <p><a href="/mention-legales">mentions légales</a></p>
                <p><a id="btnPopupFooter" class="btnPopupFooter" onclick="openModalFooter()">RGPD</a></p>
                <div id="overlayFooter" class="overlayFooter">
                    <div id="popupFooter" class="popupFooter">
                        <h2>
                            Exemple simple de popup
                            <span id="btnCloseFooter" class="btnCloseFooter" onclick="closeModalFooter()">X</span>
                        </h2>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a nulla
                            a massa interdum imperdiet sed nec nibh. Proin porttitor euismod nulla ut
                            interdum. Cras elementum placerat aliquam.
                        </div>
                    </div>
                </div>

                <div class="footer-contact">
                    <div class="footer-tel">0156829643</div>
                    <div class="footer-mail">mail.mail@mail.mail</div>
                </div>
            </div>
        </footer>
    </body>

</html>