<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../../static/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <div class="footer">
            <p><a href="plan-du-site.html">plan du site</a></p>
            <p><a href="mention-legale.html">mentions légales</a></p>
            <p>RGPD</p>
            <div class="footer-contact">
                <div class="footer-tel">0156829643</div>
                <div class="footer-mail">mail.mail@mail.mail</div>
            </div>

        </div>

    </body>

</html>