<footer>

    <div class="footer">

        <p>
            <a id="btnPopupFooter" class="btnPopupFooter" onclick="openModalFooter()">RGPD</a>
        </p>
        <div id="overlayFooter" class="overlayFooter">
            <div id="popupFooter" class="popupFooter">
                <h2>
                    Règlement Général sur la Protection des Données
                    <span id="btnCloseFooter" class="btnCloseFooter" onclick="closeModalFooter()">J'accepte</span>
                </h2>
                <div>



              <h3>Finalité des données collectées</h3>

              <p><a href="https://www.baml.fr">https://www.baml.fr</a> est susceptible de traiter tout ou partie des données : </p>

              <ul>

              <li>pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés par l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc. </li>

              <li>pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la navigation, l’adresse IP, le mot de passe (hashé) </li>

              <li>pour améliorer la navigation sur le Site : données de connexion et d’utilisation </li>

              <li>pour mener des enquêtes de satisfaction facultatives sur <a href="https://www.baml.fr">https://www.baml.fr</a> : adresse email </li>
              <li>pour mener des campagnes de communication (sms, mail) : numéro de téléphone, adresse email</li>


              </ul>

              <p><a href="https://www.baml.fr">https://www.baml.fr</a> ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.</p>

              <h3>Droit d’accès, de rectification et d’opposition</h3>

              <p>
              Conformément à la réglementation européenne en vigueur, les Utilisateurs de <a href="https://www.baml.fr">https://www.baml.fr</a> disposent des droits suivants : </p>
               <ul>

              <li>droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite </li>

              <li>droit de retirer à tout moment un consentement (article 13-2c RGPD) </li>

              <li>droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD) </li>

              <li>droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD) </li>

              <li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD) </li>

              <li>droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui <a href="https://www.baml.fr">https://www.baml.fr</a> devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné</li>
               </ul>

              <p>Dès que <a href="https://www.baml.fr">https://www.baml.fr</a> a connaissance du décès d’un Utilisateur et à défaut d’instructions de sa part, <a href="https://www.baml.fr">https://www.baml.fr</a> s’engage à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour répondre à une obligation légale.</p>

              <p>Si l’Utilisateur souhaite savoir comment <a href="https://www.baml.fr">https://www.baml.fr</a> utilise ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, l’Utilisateur peut contacter <a href="https://www.baml.fr">https://www.baml.fr</a> par écrit à l’adresse suivante : </p>

              Best Algorithm Machine Learning – DPO, Mathieu Mesnil <br>
              132 Avenue de Lattre de Tassigny Centre Pierre Cointreau CCI 49000 Angers.

              <p>Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que <a href="https://www.baml.fr">https://www.baml.fr</a> corrige, mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport). </p>

              <p>
              Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à <a href="https://www.baml.fr">https://www.baml.fr</a> par la loi, notamment en matière de conservation ou d’archivage des documents. Enfin, les Utilisateurs de <a href="https://www.baml.fr">https://www.baml.fr</a> peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (https://www.cnil.fr/fr/plaintes).</p>

              <h3>Non-communication des données personnelles</h3>

              <p>
              <a href="https://www.baml.fr">https://www.baml.fr</a> s’interdit de traiter, héberger ou transférer les Informations collectées sur ses Clients vers un pays situé en dehors de l’Union européenne ou reconnu comme « non adéquat » par la Commission européenne sans en informer préalablement le client. Pour autant, <a href="https://www.baml.fr">https://www.baml.fr</a> reste libre du choix de ses sous-traitants techniques et commerciaux à la condition qu’il présentent les garanties suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).</p>

              <p>
              <a href="https://www.baml.fr">https://www.baml.fr</a> s’engage à prendre toutes les précautions nécessaires afin de préserver la sécurité des Informations et notamment qu’elles ne soient pas communiquées à des personnes non autorisées. Cependant, si un incident impactant l’intégrité ou la confidentialité des Informations du Client est portée à la connaissance de <a href="https://www.baml.fr">https://www.baml.fr</a>, celle-ci devra dans les meilleurs délais informer le Client et lui communiquer les mesures de corrections prises. Par ailleurs <a href="https://www.baml.fr">https://www.baml.fr</a> ne collecte aucune « données sensibles ».</p>

              <p>
              Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de <a href="https://www.baml.fr">https://www.baml.fr</a> et des sous-traitants (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.</p>
              <p>
              Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales personnes susceptibles d’avoir accès aux données des Utilisateurs de <a href="https://www.baml.fr">https://www.baml.fr</a> sont principalement les agents de notre service client.</p>

              <div ng-bind-html="rgpdHTML"></div>


              <strong>Pour plus d'informations, veuillez consulter les <a href="/mentions-legales">Mentions Légales</a></strong>






                </div>
            </div>
        </div>

        <p>©BAML, 2020 - Tous droits réservés</p>


        <p>
            <a id="btnPopupContact" class="btnPopupContact" onclick="openModalFooterContact()">Contact</a>
        </p>
        <div id="overlayFooterContact" class="overlayFooterContact">
            <div id="popupFooterContact" class="popupFooterContact">
                <h2>
                    Contact
                    <span id="btnCloseFooterContact" class="btnCloseFooterContact"
                        onclick="closeModalFooterContact()">X</span>
                </h2>
                <div>
                    <p>0156829643 <br>mail.mail@mail.mail</p>
                    <p>La communication du site a été prise en charge par com.consulting : com.consulting@campus.academy
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>

{# à utiliser pour le header #}
<!-- <div class="footer">
        <p><a href="/plan-du-site">plan du site</a></p>
        <p><a href="/mention-legales">mentions légales</a></p>
        <p><a id="btnPopupFooter" class="btnPopupFooter" onclick="openModalFooter()">RGPD</a></p>
    <div id="overlayFooter" class="overlayFooter">
        <div id="popupFooter" class="popupFooter">
            <h2>
                Exemple simple de popup
                <span id="btnCloseFooter" class="btnCloseFooter" onclick="closeModalFooter()">X</span>
            </h2>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a nulla
                a massa interdum imperdiet sed nec nibh. Proin porttitor euismod nulla ut
                interdum. Cras elementum placerat aliquam.
            </div>
        </div>
    </div>

    <div class="footer-contact">
        <div class="footer-tel">0156829643</div>
        <div class="footer-mail">mail.mail@mail.mail</div>
    </div>
</div> -->
