
{% load static %}

<!-- title and explaination-->
<div class="drag-application-title">

  <h1>Notre application</h1>
  <!-- <p>Veuillez sélectionner un type de traitement et glisser votre fichier à analyser</p> -->



</div>

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- input-->


  <div class="form-separator">
    <label for="separator">Entrez votre séparateur </label>
    <input type="text" name="separator" id="separator" required maxlength="1">
  </div>



  <!--drag and drop-->
  <div class="form_field">
      <label data-form-field="attachments[]" data-form-id="drag_drop" for="input_field">
          <span class="drag_drop_field" data-form-field="attachments[]" data-form-id="drag_drop">
              <p data-form-field="attachments[]" data-form-id="drag_drop">Sélectionnez un fichier ou</p>
              <p data-form-field="attachments[]" data-form-id="drag_drop">glissez et déposez votre fichier ici</p>
              <input class="file_input" data-form-field="attachments[]" data-form-id="drag_drop" name="attachments[]"
                     type="file" multiple id="input_field">
          </span>
      </label>
      <div data-form-field="attachments[]" class="file_list">
      </div>
  </div>

  <input type="submit" value="Envoyer le CSV">


</form>
<script type="text/javascript" src="{% static 'JS/drag.js' %}"></script>
