{% extends 'BAML/base.html'%}

{% load static %}

{% block title %}Accueil{% endblock %}


{% block content %}
<!--Présentation-->
<div class="presentation">
    <div class="presentation-content">

        <h2>L'application BAML</h2>
        <div class="presentation-raw-content">

            <figure class="img-container">
                <img class="presentation-image" src="{% static 'images/data.jpg' %}"
                    alt="image ordinateur libre de droit">
            </figure>

            <p> Notre projet a pour ambition de réaliser une application qui permet de déterminer le meilleurs
                algorithme Scikit Learn (Librairie python de Machine Learning) à appliquer à un jeu de données.
                <br>
                <br>
                Plus précisément, dans un monde numérique où l'intelligence artificielle est en plein essor, nous
                souhaitons réaliser une solution qui permette de faciliter l'utilisation du Machine Learning pour
                prédire des données à partir d'un jeu de données. L'idée est qu'une entreprise qui souhaite appliquer
                une solution de Machine Learning de prédiction sur un jeu de données sache quel algorithme utiliser, ou
                si elle ne souhaite qu'obtenir des prédictions, obtenir des prédictions aussi fiables que possible.
                <br>
                <br>
                L'intérêt d'un tel projet pour les utilisateurs sera le gain de temps et de ressources. Pour le
                commanditaire et les développeurs, il y a plusieurs intérêts: la montée en compétences, un projet
                d'envergure à ajouter à leurs CV et enfin travailler au cœur d'une pratique en plein essor.

            </p>
        </div>

        <a href="/application"><button>Lancer l'Application</button></a>
    </div>
</div>
{% include "BAML/footer.html" %}
{% endblock content %}