{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>accueil</title>
    </head>

    <body>
        <!--Présentation-->
        <div class="presentation">
            <div class="presentation-content">

                <h2>L'application BAML</h2>
                <div class="presentation-raw-content">

                    <img class="presentation-image" src="{% static 'images/data.jpg' %}" alt="image ordinateur libre de droit">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet tortor in quam
                        gravida,
                        ut finibus ex tincidunt. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis
                        in
                        faucibus. Proin porta ullamcorper quam et volutpat. Nam ullamcorper suscipit placerat. Nam
                        libero
                        mauris, ultricies in finibus eget, vestibulum vel tortor. Nulla eleifend malesuada lectus vitae
                        molestie. Fusce bibendum malesuada justo at tincidunt.
                        <br>
                        <br>
                        Suspendisse euismod arcu volutpat sapien accumsan viverra. Donec vulputate augue in mauris
                        mollis
                        sagittis. Integer fermentum libero est, eget posuere purus egestas ac. In vel aliquet est.
                        Aenean
                        diam magna, interdum consectetur enim at, elementum sollicitudin mi. Aliquam erat volutpat.
                        venenatis auctor. Sed eleifend venenatis lectus tempus maximus. Nunc eu lacus porttitor,
                        fermentum
                        arcu eu, gravida nulla. Nulla facilisi. Praesent consequat volutpat est, eu cursus libero
                        ultricies
                        quis. Sed laoreet leo eu augue egestas, sit amet vestibulum elit congue. Vivamus volutpat
                        tristique
                        maximus. Aliquam sed eros id augue congue interdum.
                        <br>
                        <br>
                        Proin vitae sem pulvinar, scelerisque mauris eget, varius massa. Sed vel fermentum urna. Cras a
                        cursus tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Cras condimentum, risus fringilla finibus porta, urna nisl accumsan massa, a egestas nisl
                        ex
                        sit amet libero. Maecenas rutrum augue nec mi convallis viverra. Vestibulum pretium tellus eget
                        nibh
                        consequat porta. Quisque erat erat, posuere nec vehicula at, cursus id lacus.

                    </p>
                </div>

                <button><a href="application">Lancer l'Application</a></button>
            </div>
        </div>

        <!--équipe-->
        <div class="team">
            <div class="team-presentation">
                <h1>Notre équipe</h1>
                <p>eu faucibus enim. Maecenas vitae magna nec eros rutrum porttitor. Aenean pharetra libero at erat
                    posuere, ac tincidunt dolor vestibulum. Praesent vitae leo et neque condimentum vestibulum. Class
                    aptent
                    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus enim felis, dictum
                    id
                    tempus et, lacinia eu odio. Proin quis arcu at ligula malesuada sodales a interdum tortor.
                    Suspendisse
                    at ligula feugiat tellus ullamcorper vehicula a sodales tortor.
                </p>
            </div>
            <div class="team-member">
                <div id="member-1">
                    <img src="{% static 'images/kevin.jpg' %}" alt="photo kevin">
                    <div class="container">
                        <h4><b>Kevin CARRILLO</b></h4>
                        <p>SCRUM Master</p>
                    </div>
                </div>
                <div id="member-2">
                    <img src="{% static 'images/mathieu.jpg' %}" alt="photo mathieu">
                    <div class="container">
                        <h4><b>Mathieu MESNIL</b></h4>
                        <p>DEV Leader</p>
                    </div>
                </div>
                <div id="member-3">
                    <img src="{% static 'images/romain.jpg' %}" alt="photo Romain">
                    <div class="container">
                        <h4><b>Romain CHARPENTIER</b></h4>
                        <p>System Operator</p>
                    </div>
                </div>
                <div id="member-4">
                    <img src="{% static 'images/adam.jpg' %}" alt="photo Adam">
                    <div class="container">
                        <h4><b>Adam DUPUIS</b></h4>
                        <p>Développeur</p>
                    </div>
                </div>
                <div id="member-5">
                    <img src="{% static 'images/samuel.jpg' %}" alt="photo Samuel">
                    <div class="container">
                        <h4><b>Samuel WROBLEWSKI</b></h4>
                        <p>Développeur</p>
                    </div>
                </div>
                <div id="member-6">
                    <img src="{% static 'images/wided.jpg' %}" alt="photo Wided">
                    <div class="container">
                        <h4><b>Wided BARI</b></h4>
                        <p>Développeur</p>
                    </div>
                </div>
                <div id="member-7">
                    <img src="{% static 'images/mahel.jpg' %}" alt="photo Mahel">
                    <div class="container">
                        <h4><b>Mahel BERBUDEAU</b></h4>
                        <p>Développeur</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
