<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/style.css">
        <script type="text/javascript" src="burger.js"></script>
        <title>mention légales</title>
    </head>

    <body>
        <header>
            <div class="navbar">
                <div class="navbar-title">BAML</div>
                <img src="/assets/images/logo-menu-burger.png" class="navbar-burger" onclick="afficheMenu()">

            </div>

            <div id="mobile">

                <a href="plan-du-site.html">plan du site</a>
                <a href="mention-legale.html">mentions légales</a>
                <a href="">RGPD</a>
                <a href="application.html">lancer l'appli</a>
                <p>0156829643 <br>mail.mail@mail.mail</p>

            </div>

        </header>

        <div class="mention">

            <div><a href="index.html"> retour à l'acceuil </a></div>

            <h1>Mentions légales sur internet</h1>

            <h2>Propriété</h2>
            <p>à complété</p>

            <h2>Développement et hébergement</h2>
            <p>à complété</p>

            <h2>Contenu du site (texte, images, conception)</h2>
            <p>Ce site respecte le droit d'auteur. Tous les droits des auteurs des Oeuvres protégées reproduites et
                communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des Oeuvres autres que la
                reproduction et la consultation individuelles et privées sont interdites. Toute reproduction,
                rediffusion ou commercialisation totale ou partielle du contenu est interdite.</p>

            <h2>Informatique et libertés</h2>
            <p>Conformément à la loi Informatique et Libertés, vous disposez d'un droit d'accès, de rectification et de
                suppression des données vous concernant (art. 34 de la loi "Informatique et Libertés"). Pour l'exercer,
                adressez vous à [a compléter]</p>
        </div>
    </body>

</html>