{% extends 'BAML/base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>Title</title>
    </head>


    <body>

        {% block content %}
        <div class="plan">


            <h1>Plan du site</h1>
            <p><a href="/">Accueil</a></p>
            <p><a href="/application">Application BAML</a></p>
            <p><a href="/mention-legales">Mentions Légale</a></p>
        </div>
        {% endblock content %}
    </body>


</html>