/* style of the title and text */
.drag-application-title {
    margin: 1rem;
    text-align: center;
}

/* style of the form container  */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* style of the radio button */
#mySelect {
    margin: 1rem;
    padding: 1rem;
    height: 20%;
    width: 50%;
    border: solid 1px;
}

///* style of the drag and drop zone */
//.drop-zone {
//    margin: 5rem;
//    max-width: 200px;
//    height: 200px;
//    padding: 25px;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    text-align: center;
//    font-family: 'Quicksand', sans-serif;
//    font-weight: 500;
//    font-size: 20px;
//    color: #cccccc;
//    border: 4px dashed#009578;
//    border-radius: 10px;
//    background-color: #ffffff;
//
//}
//
///* style of dropzone when a file is in */
//.drop-zone--over {
//    border-style: solid
//}
//
///* not show the real drag zone */
//.drop-zone__input {
//    display: none;
//}
//
///* style of drop zone if a image is loaded */
//.drop-zone__thumb {
//    width: 100%;
//    height: 100%;
//    border-radius: 10px;
//    overflow: hidden;
//    background-color: #cccccc;
//    background-size: cover;
//    position: relative;
//}
//
///* style of drop zone if a image is loaded */
//.drop-zone__thumb::after {
//    content: attr(data-label);
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    width: 100%;
//    padding: 5px 0;
//    color: #ffffff;
//    background: rgba(0, 0, 0, 0.75);
//    font-size: 14px;
//    text-align: center;
//
//}

form {
    margin: 0 auto 0 auto;
    width: 98%
}

div.form_field {
    margin: 0 auto 0 auto;
    width: 98%;
    text-align: center;
    padding: 0.5em 0 0.5em;
}

div.form_field label {
    display: block;
    margin: 0 auto 0 auto;
    padding: 0.5em 0 1em;
    width: 100%;
    font-size: 1.2em;
    cursor: pointer;
}

div.form_field label div.drag_drop_field {
    margin: 0 auto 0 auto;
    width: 90%;
    padding: 0.5em 0 0.5em 0;
    box-shadow: inset 0 0 2px #000000ad;
    color: #000000ad;
    font-weight: lighter;
}

div.form_field label div.drag_drop_field input {
    width: 0;
    height: 0;
    outline: none;
    opacity: 0;
}

div.file_list {
    margin: 0.2em auto 0.2em auto;
    width: 80%;
    grid-template-columns: 1fr;
    font-size: 0.8em;
}

div.file_list div.file {
    width: 100%;
    margin: 1em auto 1em auto;
    display: grid;
    grid-template-columns: 100%;
    text-transform: uppercase;
    box-shadow: -3px 1px 6px grey;
    letter-spacing: 0.1em;
}

div.file_list div.file div.file_name,
div.file_list div.file div.file_details div.file_extension,
div.file_list div.file div.file_details div.file_size {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x: auto;
    padding: 1.2em 0 1.2em;
}

div.file_list div.file div.file_name {
    background: #ffffff;
    color: #fad071;
}

div.file_list div.file div.file_details div.file_extension {
    color: white;
    background-color: rgba(128, 0, 128, 0.513);
}

div.file_list div.file div.file_details div.file_size {
    color: white;
    background-color: rgba(0, 0, 139, 0.561);
}

div.file_list div.file div.file_details {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width:1020px) {
    .responsive {
        width: 90%;
    }
}
