/* the style of footer */
.footer {
    background-color: rgb(45, 143, 223);
    height: 5rem;
    display: flex;
    justify-content: space-around;
    /*align-items: center; */
    flex-direction: row;




    /* prevent the default style of a tag */
    a {
        text-decoration: none;
    }


    /* style of the pop up button in footer */
    .btnPopupFooter,
    .btnPopupContact {

        padding: 1em 2em;
        cursor: pointer;
    }


    /* style of the pop up container of content in footer */
    .overlayFooter,
    .overlayFooterContact {
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.15);
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

    /* style of the pop up content in footer */
    .popupFooter,
    .popupFooterContact {
        margin: 10% auto;
        width: 70%;
        background-color: rgb(243, 243, 243);
        padding: 1em;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }

    /* style of close button on popup in footer */
    .btnCloseFooter,
    .btnCloseFooterContact {
        float: right;
        font-size: 16pt;
        cursor: pointer;
        color: rgb(26, 26, 26);
    }



}