/*Content of Navbar*/
.navbar {
    background-color: rgb(45, 143, 223);
    width: 100%;
    height: 4rem;
    display: flex;
    position: fixed;
    top: 0;
    margin-bottom: 10rem;





    /*Style for navbar-title or logo  */
    .navbar-title {

        margin-right: auto;
        padding-left: 10px;
        font-size: 60px;

        /* prevent the default comportment of a tag  */
        a {
            text-decoration: none;
            color: black;
        }
    }
}

/* prevent the display of burger button with big screen */
.navbar-burger {
    max-width: 50px;
    margin-right: 10px;
}



#burger-menu-content {
    /* prevent the display of burger menu content on big screen */
    flex-direction: column;
    background-color: rgb(45, 143, 223);
    text-decoration: none;
    padding: 0 1rem 0 1rem;
    justify-content: flex-start;
    align-items: center;
    margin-left: 80%;
    width: 20%;
    display: none;
    position: fixed;

    /* prevent the default comportment of a tag  */
    a {
        text-decoration: none;
        color: black;
    }

}

/* style change only on phone screen */
@media (max-width: 480px) {

    /* style of navbar on phone screen */
    .navbar {

        height: 5rem;
        display: flex;
        flex-direction: row;

        /* style of navbar title only on phone screen */
        .navbar-title {
            margin-top: 1rem;
            font-size: 50px;
        }

        /* display and style of burger menu on pĥone screen */
        .navbar-burger {
            display: flex;
            margin: 1.5rem;
            width: 2rem;
            height: 2rem
        }




    }

    /* Style of burger menu content if displayed */
    #burger-menu-content {
        display: none;
        flex-direction: column;
        background-color: rgb(45, 143, 223);
        text-decoration: none;
        padding: 0 1rem 0 1rem;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: 0;

        /*prevent the default comportment of a tag  */
        a {

            height: 2rem;
            text-decoration: none;
            color: black
        }
    }
}