/* todo réviser pour version tablette */

/* style of the body of the index page */
.presentation {
  display: flex;
  min-height: 100%;
  /* correction bug d'affichage */
  padding: 0 0 3.30rem 0;

  /* style of flex-box of content of the index page */
  .presentation-content {
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    height: 45rem;

    /* prevent the superposition of footer on content in phone screen */
    @media (max-width: 480px) {
      height: 100%;
    }

    /* prevent the superposition of footer on content in tablet screen */
    @media (min-width: 480px) and (max-width: 1024px) {
      height: 100%;
      padding-bottom: 1rem;
    }

    /* style of flex-box of content without title of the index page */
    .presentation-raw-content {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin-left: 5%;
      margin-right: 15%;
      overflow: hidden;

      /* changing direction on phone screen */
      @media (max-width: 480px) {
        flex-direction: column;

      }

      /* changing direction on tablet screen */
      @media (min-width: 480px) and (max-width: 1024px) {
        flex-direction: column;


      }

      /* style of presentation image */
      .presentation-image {

        margin: 70px 40px 40px 40px;
        height: 47%;
        width: 67%;
        flex: 2 1 33%;
        align-self: stretch;
        /* border et border-radius + object-fit */
        border: 1px black solid;
        border-radius: 15px;
        object-fit: fill;

        /* the image is not shown on phone screen */
        @media (max-width: 480px) {
          display: none;

        }

        /* image style on tablet screen */
        @media (min-width: 480px) and (max-width: 1024px) {
          align-self: center;
          width: 80%;
          height: 80%;

        }
      }


      p {
        flex: 3 1 66%;
        align-self: stretch;
        margin-left: 1%;
      }

    }

    /* style of title */
    h2 {
      flex: 1 1 auto;
      align-self: center;

    }

    /* style of text */
    p {
      margin-top: 5rem;
      flex: 1 1 66%;
      align-self: stretch;
    }

    /* style of Lancer l'application button */
    button {
      flex: 4 1 auto;
      align-self: center;
      height: 5rem;
      width: 10rem;

      /* the button is not show on phone screen */
      @media (max-width: 480px) {
        display: none;

      }
    }

    /* prevent the default comportement of a tag */
    a {
      align-self: center;
      text-decoration: none;
      height: 5rem;
      width: 10rem;
    }
  }

}