@charset "UTF-8";
/* todo réviser pour version tablette */
/* style of the body of the index page */
.presentation {
  display: flex;
  min-height: 100%;
  /* correction bug d'affichage */
  padding: 0 0 3.30rem 0;
  /* style of flex-box of content of the index page */ }
  .presentation .presentation-content {
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    height: 45rem;
    /* prevent the superposition of footer on content in phone screen */
    /* prevent the superposition of footer on content in tablet screen */
    /* style of flex-box of content without title of the index page */
    /* style of title */
    /* style of text */
    /* style of Lancer l'application button */
    /* prevent the default comportement of a tag */ }
    @media (max-width: 480px) {
      .presentation .presentation-content {
        height: 100%; } }
    @media (min-width: 480px) and (max-width: 1024px) {
      .presentation .presentation-content {
        height: 100%;
        padding-bottom: 1rem; } }
    .presentation .presentation-content .presentation-raw-content {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin-left: 5%;
      margin-right: 15%;
      overflow: hidden;
      /* changing direction on phone screen */
      /* changing direction on tablet screen */
      /* style of presentation image */ }
      @media (max-width: 480px) {
        .presentation .presentation-content .presentation-raw-content {
          flex-direction: column; } }
      @media (min-width: 480px) and (max-width: 1024px) {
        .presentation .presentation-content .presentation-raw-content {
          flex-direction: column; } }
      .presentation .presentation-content .presentation-raw-content .presentation-image {
        margin: 70px 40px 40px 40px;
        height: 47%;
        width: 67%;
        flex: 2 1 33%;
        align-self: stretch;
        /* border et border-radius + object-fit */
        border: 1px black solid;
        border-radius: 15px;
        object-fit: fill;
        /* the image is not shown on phone screen */
        /* image style on tablet screen */ }
        @media (max-width: 480px) {
          .presentation .presentation-content .presentation-raw-content .presentation-image {
            display: none; } }
        @media (min-width: 480px) and (max-width: 1024px) {
          .presentation .presentation-content .presentation-raw-content .presentation-image {
            align-self: center;
            width: 80%;
            height: 80%; } }
      .presentation .presentation-content .presentation-raw-content p {
        flex: 3 1 66%;
        align-self: stretch;
        margin-left: 1%; }
    .presentation .presentation-content h2 {
      flex: 1 1 auto;
      align-self: center; }
    .presentation .presentation-content p {
      margin-top: 5rem;
      flex: 1 1 66%;
      align-self: stretch; }
    .presentation .presentation-content button {
      flex: 4 1 auto;
      align-self: center;
      height: 5rem;
      width: 10rem;
      /* the button is not show on phone screen */ }
      @media (max-width: 480px) {
        .presentation .presentation-content button {
          display: none; } }
    .presentation .presentation-content a {
      align-self: center;
      text-decoration: none;
      height: 5rem;
      width: 10rem; }

/* style of the flex container */
.team {
  display: flex;
  flex-direction: column;
  /*style of the text presentation container ( text and title) */
  /* Style of the cards container */ }
  .team .team-presentation {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    /*style of the title*/
    /* style of the text */ }
    .team .team-presentation h1 {
      flex: 1 1 auto;
      align-self: center; }
    .team .team-presentation p {
      flex: 2 1 auto;
      align-self: stretch; }
  .team .team-member {
    margin: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* style of the cards */
    /* On mouse-over, add a deeper shadow */
    /* Add some padding inside the card container */ }
    .team .team-member #member-1,
    .team .team-member #member-2,
    .team .team-member #member-3,
    .team .team-member #member-4,
    .team .team-member #member-5,
    .team .team-member #member-6,
    .team .team-member #member-7 {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px 5px 0 0;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 15rem;
      height: 18rem;
      /* style of the cards on phone screen */
      /* style of the photo of team member */ }
      @media (max-width: 480px) {
        .team .team-member #member-1,
        .team .team-member #member-2,
        .team .team-member #member-3,
        .team .team-member #member-4,
        .team .team-member #member-5,
        .team .team-member #member-6,
        .team .team-member #member-7 {
          width: 100%;
          height: 7rem;
          text-align: center; } }
      .team .team-member #member-1 img,
      .team .team-member #member-2 img,
      .team .team-member #member-3 img,
      .team .team-member #member-4 img,
      .team .team-member #member-5 img,
      .team .team-member #member-6 img,
      .team .team-member #member-7 img {
        justify-self: center;
        max-height: 170px;
        width: auto;
        border-radius: 5px 5px 0 0;
        /* photo not showed on phone screen */ }
        @media (max-width: 480px) {
          .team .team-member #member-1 img,
          .team .team-member #member-2 img,
          .team .team-member #member-3 img,
          .team .team-member #member-4 img,
          .team .team-member #member-5 img,
          .team .team-member #member-6 img,
          .team .team-member #member-7 img {
            display: none; } }
    .team .team-member #member-1:hover,
    .team .team-member #member-2:hover,
    .team .team-member #member-3:hover,
    .team .team-member #member-4:hover,
    .team .team-member #member-5:hover,
    .team .team-member #member-6:hover,
    .team .team-member #member-7:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .team .team-member .container {
      padding: 2px 16px;
      border-radius: 5px 5px 0 0; }

/* the style of footer */
.footer {
  background-color: #2d8fdf;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  /*align-items: center; */
  flex-direction: row;
  /* prevent the default style of a tag */
  /* style of the pop up button in footer */
  /* style of the pop up container of content in footer */
  /* style of the pop up content in footer */
  /* style of close button on popup in footer */ }
  .footer a {
    text-decoration: none; }
  .footer .btnPopupFooter,
  .footer .btnPopupContact {
    padding: 1em 2em;
    cursor: pointer; }
  .footer .overlayFooter,
  .footer .overlayFooterContact {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none; }
  .footer .popupFooter,
  .footer .popupFooterContact {
    margin: 10% auto;
    width: 70%;
    background-color: #f3f3f3;
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px; }
  .footer .btnCloseFooter,
  .footer .btnCloseFooterContact {
    float: right;
    font-size: 16pt;
    cursor: pointer;
    color: #1a1a1a; }

/* add padding into the mention container */
.mention {
  padding: 2rem; }

/* add padding into the plan container */
.plan {
  padding: 2rem;
  /* prevent default comportement of a tag */ }
  .plan a {
    text-decoration: none;
    color: black; }

/* style of the title and text */
.drag-application-title {
  margin: 1rem;
  text-align: center; }

/* style of the form container  */
form {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* style of the radio button */
#mySelect {
  margin: 1rem;
  padding: 1rem;
  height: 20%;
  width: 50%;
  border: solid 1px; }

/* style of the drag and drop zone */
.drop-zone {
  margin: 5rem;
  max-width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #cccccc;
  border: 4px dashed #009578;
  border-radius: 10px;
  background-color: #ffffff; }

/* style of dropzone when a file is in */
.drop-zone--over {
  border-style: solid; }

/* not show the real drag zone */
.drop-zone__input {
  display: none; }

/* style of drop zone if a image is loaded */
.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #070505;
  background-size: cover;
  position: relative; }

/* style of drop zone if a image is loaded */
.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center; }

/*Content of Navbar*/
.navbar {
  background-color: #2d8fdf;
  width: 100%;
  height: 4rem;
  display: flex;
  position: fixed;
  top: 0;
  margin-bottom: 10rem;
  /*Style for navbar-title or logo  */ }
  .navbar .navbar-title {
    margin-right: auto;
    padding-left: 10px;
    font-size: 60px;
    /* prevent the default comportment of a tag  */ }
    .navbar .navbar-title a {
      text-decoration: none;
      color: black; }

/* prevent the display of burger button with big screen */
.navbar-burger {
  max-width: 50px;
  margin-right: 10px; }

#burger-menu-content {
  /* prevent the display of burger menu content on big screen */
  flex-direction: column;
  background-color: #2d8fdf;
  text-decoration: none;
  padding: 0 1rem 0 1rem;
  justify-content: flex-start;
  align-items: center;
  margin-left: 80%;
  width: 20%;
  display: none;
  position: fixed;
  /* prevent the default comportment of a tag  */ }
  #burger-menu-content a {
    text-decoration: none;
    color: black; }

/* style change only on phone screen */
@media (max-width: 480px) {
  /* style of navbar on phone screen */
  .navbar {
    height: 5rem;
    display: flex;
    flex-direction: row;
    /* style of navbar title only on phone screen */
    /* display and style of burger menu on pĥone screen */ }
    .navbar .navbar-title {
      margin-top: 1rem;
      font-size: 50px; }
    .navbar .navbar-burger {
      display: flex;
      margin: 1.5rem;
      width: 2rem;
      height: 2rem; }

  /* Style of burger menu content if displayed */
  #burger-menu-content {
    display: none;
    flex-direction: column;
    background-color: #2d8fdf;
    text-decoration: none;
    padding: 0 1rem 0 1rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 0;
    /*prevent the default comportment of a tag  */ }
    #burger-menu-content a {
      height: 2rem;
      text-decoration: none;
      color: black; } }
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 4rem 0 5rem 0;
  background-color: rgba(129, 136, 66, 0.424);
  min-height: 100%;
  position: relative; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2rem; }

.title-prediction {
  text-align: center; }

.separator-analyse {
  text-align: center; }

.title-analyse {
  text-align: center; }

.separator-prediction {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
