asgiref==3.2.10
astroid==2.4.2
coverage==5.3.1
Django==3.1.2
django-debug-toolbar==3.1.1
django-jenkins==0.110.0
Faker==5.0.1
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pep8==1.7.1
pkg-resources==0.0.0
psycopg2==2.8.6
pyflakes==2.2.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
text-unidecode==1.3
toml==0.10.2
typed-ast==1.4.2
wrapt==1.12.1
